<html>
    <head>
        <title>Take a survey!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
<div class="jumbotron text-center">
<h3>{{survey.title}}</h3>
</div>
<div class="container text-center">
    <form action="{% url 'fill-survey' %}" method="post">
        {% csrf_token %}
         <input type="hidden" name="survey_id" value="{{survey.id}}">
        {% for question in questions %}
            <div class="text-center">
                <b>{{ question.question_text }}</b>
            </div>
            <div>
                {% for choice in question.choice_set.all %}
                    <label class="radio inline">
                        <input type="radio" name="question{{question.id}}" value="{{choice.id}}">
                        {{choice.choice_text}}
                    </label>
                    <br />
                {% endfor %}
            </div>
        {% endfor %}
        <br />      
        <input type="submit" class="btn btn-success" value="Submit">
    </form>    
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
